.customButton {
  background: var(--primary-white);
  color: var(--primary-black);
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  border: none;
  padding: 0.85rem 7rem;
  cursor: pointer;
}
